﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Patronworks</title>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <environment names="Development">
        <!-- <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" /> -->
        <link rel="stylesheet" href="~/css/site.css" />
        @*<link rel="stylesheet" href="~/lib/material/material.css" />*@
    </environment>
    <environment names="Staging,Production">
        @*<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
            asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
            asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />*@
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>
</head>
<body>

    <!-- <div class="navbar navbar-inverse fixed-top es-header">
        <div class="container">
            <div class="row">
                <div class="navbar-header col-sm-6 col-xs-8">
                    <a asp-controller="Home" asp-action="ReturnToOriginalApplication" asp-route-returnUrl="@ViewData["ReturnUrl"]">
                        <div class="navbar-brand"></div>
                    </a>
                </div>
            </div>
        </div>
    </div> -->

    <div class="container">
        <header>
            <!-- Header content -->
             <img id="logo" src="~/images/PatronWorksLogo.svg" />
        </header>

        <main>
            <!-- Main content -->
            @RenderBody()
        </main>

        <!--<footer>-->
            @*Footer content*@
        <!--</footer>-->
    </div>

    <script src="~/lib/jquery/jquery.js"></script>
    @*<script src="~/lib/material/material.js"></script>*@
    <!-- <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script> -->
    @RenderSection("scripts", required: false)
</body>
</html>
