﻿@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>
<div>
    <p>
        Thank you for confirming your email.
        <div asp-validation-summary="All" class="text-danger"></div>
    </p>
</div>
