﻿@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@model Identity.Api.Models.AccountViewModels.LoginViewModel


@{
    ViewData["Title"] = "Log in";
}
<!-- <div class="brand-header-block">
    <ul class="container">
        <li><a asp-area="" asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">REGISTER</a></li>
        <li class="active" style="margin-right: 65px;">LOGIN</li>
    </ul>
</div>
<div class="container account-login-container">
    <div class="row">
        <div class="col-md-12">
            <section>

            </section>
        </div>
    </div>
</div> -->

<form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
    <div class="card-header">
        <h3 >Login</h3>
    </div>
    <input type="hidden" asp-for="ReturnUrl" />


    <div class="group">
        <input asp-for="Username" required="required" /><span class="highlight"></span><span class="bar"></span>
        <label style="color:#58585b" asp-for="Username">Email</label>

        <span asp-validation-for="Username" class="text-danger"></span>
    </div>

    <div class="group">
        @*<input asp-for="Password" required="required" /><span class="highlight"></span><span class="bar"></span>*@
        <input asp-for="Password" type="password" required="required" autocomplete="current-password" /><span class="highlight"></span><span class="bar"></span>
        <label style="color:#58585b" asp-for="Password">Password</label>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    @*<div class="group">
            <input asp-for="RememberMe" />
            <label asp-for="RememberMe">@Html.DisplayNameFor(m => m.RememberMe)</label>
        </div>*@
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="btn-box">
        <button type="submit" class="btn btn-submit"  name="button" value="login">LOGIN</button>
    </div>

    @*<div class="btn-box">
            <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" class="text">Register as a new user?</a>
        </div>*@
</form>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
