﻿@model Identity.Api.Models.AccountViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
   <h3>Register a new account</h3>
   
    <div class="group">
        <input asp-for="User.FirstName" required="required" /><span class="highlight"></span><span class="bar"></span>
        <label asp-for="User.FirstName">Name</label>

        <span asp-validation-for="User.FirstName" class="text-danger" />
    </div>
    <div class="group">
        <input asp-for="User.LastName" required="required" /><span class="highlight"></span><span class="bar"></span>
        <label asp-for="User.LastName">Last name</label>

        <span asp-validation-for="User.LastName" class="text-danger" />
    </div>
   
    <div class="group">
        <input asp-for="Email" required="required" /><span class="highlight"></span><span class="bar"></span>
        <label asp-for="Email">Email</label>

        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="group">
        <input asp-for="Password" required="required" /><span class="highlight"></span><span class="bar"></span>
        <label asp-for="Password">Password</label>

        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="group">
        <input asp-for="ConfirmPassword" required="required" /><span class="highlight"></span><span class="bar"></span>
        <label asp-for="ConfirmPassword">Confirm password</label>

        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <div asp-validation-summary="All" class="text-danger"></div>
    
    <div class="btn-box">
        <button type="submit" class="btn btn-submit">Register</button>
    </div>

    <div class="btn-box">
        <a asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" class="text">Already have an account?</a>
    </div>

</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

