﻿<div class="welcome-page">
    <div class="row page-header">
        <div class="col-sm-10">
            <h1>
                Welcome to Patronworks
                @*<small>(build {version})</small>*@
            </h1>
        </div>
    </div>

    @*<div class="row">
        <div class="col-sm-8">
            <p>
                To login click here
                <a href="~/Account/login">login</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <p>
                To register click here
                <a href="~/Account/Register">register</a>
            </p>
        </div>
    </div>*@
</div>
